			img {
				height: 250px;
				max-width: 500px;
				padding: 20px 0;
			}
			title {
				font-size:250%;
			}
			header {
				padding:20px 0 40px 0;
			}
			header img {
				padding:0;
				float:left;
				width:50px;
				height:80px;
				padding-right:20px;
			}
			header h1 {
				padding:0;
				margin:0;
				font-size: 350%;
			}
			header h2 {
				padding:0;
				margin:0;
				font-weight:normal;
				font-size:20px;
				color:#444444;
				margin-top:6px;
			}
			header h3 {
				padding:0;
				margin:0;
				font-weight:normal;
				font-size:30px;
				color:#63b246;
			}
			body {
				width:1024px;
				margin:0 auto;
				font-family: 'Open Sans', sans-serif;
				user-select: none;
			}
			form {
				clear:both;
				border-radius:10px;
				padding:25px 45px;
			}
			a {
				color:#63b246;
				transition:all 0.2s;
			}
			a:hover {
				color:#5aa140;
			}
			a:visited {
				color:purple;
			}
			button {
				background:transparent;
				background:#63b246;
				border:none;
				color:#ffffff;
				border-radius:6px;
				width:180px;
				height:50px;
				font-size:18px;
				transition:all 0.2s;
			}
			button:hover {
				background:#5aa140;
				cursor:pointer;
			}
			b > u {
				font-size:18px;
			}
			select {
				border: 2px solid #dadada;
			    box-shadow: none;
			    background-color: transparent;
			    background-color:#dadada;
			    background-image: none;
			    height:25px;
			    margin-bottom:5px;
			}
			select:hover {
				border-color:#c2c2c2;
				cursor:pointer;
			}
			select:active {
				border-color:#63b246;
			}
			select:focus {
				border-color:#63b246;
			}
			select option:checked {
				color:red;
			}
			th, td {
				padding: 15px;
				text-align: center;
			}

			/* the Overlay */

			.overlay {

			/* Height & width depends on how you want to reveal the overlay (see JS below) */
	    height: 100%;
	    width: 0;
	    position: fixed; 					/* Stay in place */
	    z-index: 1; 							/* Sit on top */
	    left: 0;
	    top: 0;
	    background-color: white;
			user-select: all;					/* causes all text/images within the overlay to be selected */
	    overflow-x: hidden; 			/* Disable horizontal scroll */
	    transition: 0.5s; 				/* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
			}

			/* Position the content inside the overlay */
			.overlay-content {
			    position: relative;
			    top: 25%; 						/* 25% from the top */
			    width: 75%; 					/* doesn't seem to work? */
			    margin-top: 130px; 		/* 30px top margin to avoid conflict with the close button on smaller screens */
			}

			/* Position the close button (top right corner) */
			.overlay .closebtn {
			    position: absolute;
			    top: 10px;
			    right: 15px;
			    font-size: 20px;
					color: black;
					background: transparent;
					user-select: none;
			}

			/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
			@media screen and (max-height: 450px) {
			    .overlay a {font-size: 20px}
			    .overlay .closebtn {
			        font-size: 40px;
			        top: 15px;
			        right: 35px;
			    }
			}
